.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container h3 {
  margin-bottom: 0px;
}

/* .container section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */
